{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles %}

{% block scripts %}
{% script 'app' %}
{% endblock scripts %}

{% block content %}
{% block headline %}This is a headline{% endblock headline %}
{% block byline %}By Ava Mandoli{% endblock byline %}
{% block pubdate %}
  <time datetime="2023-10-31" pubdate>October 31, 2023</time>
{% endblock pubdate %}
{% endblock content %}

{% block content %}
    {{ harvard_park_homicides }}
{% endblock %}